<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-light" style="background-color: lightseagreen;">
  <div class="container-fluid" style="display: block;">
    <div class="navbar-header row">
      <div class="">
        <a class="navbar-brand" href="">InstaPhoto</a>
        <a class="navbar-brand" href="">Home</a>
      </div>
      <div class="">
        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}" >
          <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
          <i class="spinner "></i>
        </form>
      </div>
    </div>
  </div>
</nav>
</body>
</html>
