<div class="navbar fixed-top bg-light">
    <nav class="container">
      <span class="navbar-brand mb-0 h1">
          <a href="/" style="text-decoration:none;color:black">
              <div id="brand" style="color:black;">InstaPhoto Gallery</div>
              <div><i class="fas fa-camera-retro fa-2x"></i></div>
          </a>
      </span>
        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}" >
             <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
            <i class="spinner "></i>
        </form>
        <span class="pull-right">
            <div class="instaicon disc"></div>
            <div class="instaicon like"></div>
            <a href="{% url 'profile' user.username %}" style="color:black;"><i class="fas fa-user fa-lg"></i></a>
        </span>
    </nav>
</div>